<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi Prodotto</title>
    <link rel="stylesheet" href="/css/stile.css"> 
</head>

<body class="register-page">

<!-- HEADER -->
<header class="navbar">
  <div class="navbar-content">
    
    <!-- Logo a sinistra -->
    <div class="logo-left">
      <a href="/">
        <img src="/images/logo.png" alt="Tempus" class="navbar-logo">
      </a>
    </div>
    
  </div>
</header>

<!-- CONTENITORE CENTRALE -->
<div class="page-wrapper">
  <div class="prodotto-container">

    <form th:action="@{/admin/prodotti}" method="post" th:object="${prodotto}" enctype="multipart/form-data">
      <table>
        <div class="flex title">Aggiungi un nuovo prodotto</div>

        <!-- Nome -->
        <tr>
          <td>Nome</td>
          <td><input type="text" th:field="*{nome}" placeholder="Nome del prodotto" /></td>
          <td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" style="color:red"></td>
        </tr>

        <!-- Prezzo -->
        <tr>
          <td>Prezzo</td>
          <td><input type="number" step="0.01" th:field="*{prezzo}" placeholder="Es: 19.99" /></td>
          <td th:if="${#fields.hasErrors('prezzo')}" th:errors="*{prezzo}" style="color:red"></td>
        </tr>

        <!-- Descrizione -->
        <tr>
          <td>Descrizione</td>
          <td><textarea th:field="*{descrizione}" placeholder="Descrizione"></textarea></td>
         
          <td th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" style="color:red"></td>
        </tr>

        <!-- Categoria -->
        

        <!-- Immagine -->
        <tr>
          <td>Foto</td>
          <td><input type="file" name="image" accept="image/*" /></td>
          <td></td>
        </tr>
            
			
        <!-- Pulsante -->
       
        
        
      </table>
      
               <fieldset>
					<legend>Seleziona Categoria</legend>

					<div th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"style="color:red"></div>

					<div class="grid-container-form">
						<div class="grid-fit category" th:each="categoria : ${categorie}">

							<label th:for="${'cat_' + categoria.id}" th:text="${categoria.nome}"></label>
							<input type="radio" th:id="${'cat_' + categoria.id}" th:field="*{categoria}" name="categoria"
								th:value="${categoria.id}" />
						</div>
					</div>
				</fieldset>
				<td colspan="2">
            <button class="navbar-link" type="submit">Salva prodotto</button>
          </td>
    </form>

  </div>
</div>

<!-- FOOTER -->
<div th:insert="~{fragments/base.html :: footer}"></div>

</body>
</html>
