<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Dettaglio</title>
    <link rel="stylesheet" href="/css/stile.css">
</head>

<body class="prodotto-detail-page">

<header class="navbar">
  <div class="navbar-content">
   
    <!-- Logo a sinistra -->
    <div class="logo-left">
      <a href="/">
        <img src="/images/logo.png" alt="Tempus" class="navbar-logo">
      </a>
    </div>
    
  </div>
 </header>
   <!-- DETTAGLIO PRODOTTO -->
    <div class="flex-column center" th:if="${prodotto}">
        <div class="prodotto-container">
            <!-- Immagine prodotto -->
            <div>
                <div th:if="${prodotto.foto}">
                    <img class="prodotto-image-bigger"
                          th:src="@{'/images/prodotti-foto/' + ${prodotto.id} + '/' + ${prodotto.foto}}" />
                </div>
                <div th:unless="${prodotto.foto}">
                    <div class="prodotto-image-bigger flex center">Nessuna foto disponibile</div>
                </div>
            </div>

            <!-- Info prodotto -->
            <div class="prodotto-info">
                <div class="title" th:text="${prodotto.nome}">Nome Prodotto</div>

                <div class="title2">
                    Prezzo: <span th:text="${prodotto.prezzo}">0.00</span> €
                </div>

                <div class="title2">
                    Categoria: 
                    <a th:href="@{'/categoria/' + ${prodotto.categoria.id}}"
                       th:text="${prodotto.categoria.nome}">Categoria</a>
                </div>

             <div class="title2" th:text="${prodotto.descrizione}">Descrizione del prodotto</div>

                <!-- Pulsanti modifica/cancella -->
                 <div class="navbar-right" sec:authorize="isAuthenticated() and hasAuthority('ADMIN')">
                     <a class="navbar-link" th:href="@{'/admin/prodotto/edit/form/' + ${prodotto.id}}">Modifica</a>
                     <a class="navbar-link" th:href="@{'/admin/prodotto/delete/confirm/' + ${prodotto.id}}">cancella</a>
                 </div>                    
             </div>
      </div>
 </div>
    

    <div th:unless="${prodotto}">
        Questo prodotto non esiste!
    </div>
<div class="simili-section">
  <div class="down-side">
	 <div class="title-wrapper">
	     <h2 class="collection-title">Prodotti simili</h2>
	  </div>
	     <div class="simili-buttons" sec:authorize="hasAuthority('ADMIN')">
    <button class="navbar-link"
            th:onclick="'window.location.href=\'/admin/prodotti/' + ${prodotto.id} + '/simili/candidati\''">
        Aggiungi prodotti simili
    </button>
    <button class="navbar-link"
        th:onclick="'window.location.href=\'/admin/prodotti/' + ${prodotto.id} + '/simili/remove\''">
    Elimina prodotti simili
</button>

</div>

    
</div>
  <!-- Se NON ci sono prodotti simili -->
  <p th:if="${#lists.isEmpty(prodotto.prodottiSimili)}" class="empty-message">
    Nessun prodotto simile disponibile
  </p>

  <!-- Se ci sono prodotti simili -->
  <div class="card-wrapper" th:unless="${#lists.isEmpty(prodotto.prodottiSimili)}">
    <a class="product-card-link" th:each="simile : ${prodotto.prodottiSimili}" 
       th:href="@{'/prodotto/' + ${simile.id}}">
      <div class="product-card">

        <!-- Immagine -->
        <div class="product-image-box">
          <img th:if="${simile.foto != null}" class="product-image"
               th:src="@{'/images/prodotti-foto/' + ${simile.id} + '/' + ${simile.foto}}"
               alt="Foto prodotto simile" />
          <div th:unless="${simile.foto != null}" class="product-image flex center">
            Nessuna foto disponibile
          </div>
        </div>

        <!-- Nome, prezzo -->
        <div class="product-info">
          <h3 th:text="${simile.nome}">Nome prodotto</h3>
          <p th:text="'Prezzo: € ' + ${simile.prezzo}">Prezzo</p>
        </div>

      </div>
    </a>
  </div>


</div>

<div class="comment-section">
<div class="middle-part">
  <div class="left-placeholder"></div>

<div class="title-wrapper">
  <h2 class="collection-title">Cosa ne pensano gli utenti..</h2>
</div>
</div>
 

   <!-- Se non ci sono commenti -->
    <div th:if="${commentiVuoti}" class="comment-form-wrapper">
	   <div class="per-autenticati" sec:authorize="isAuthenticated()">
       <button class="navbar-link"
        th:onclick="'window.location.href=\'/prodotto/' + ${prodotto.id} + '/commenti\''">
    Scrivi il primo commento
</button>


     
       </div>
       <p sec:authorize="isAnonymous()">Ancora nessun commento</p>
    </div>

    <!-- Se ci sono commenti -->
    <div th:unless="${commentiVuoti}" class="commenti-wrapper">
        <div th:each="commento : ${commenti}" class="commento">
                   <!-- RIGA CON TESTO E MODIFICA -->
  <div class="commento-riga">
    <p th:text="${commento.testo}"></p>

   <div sec:authorize="isAuthenticated()">
  <div th:if="${commento.user != null and commento.user.id == currentUserId}">
    <a class="navbar-link" th:href="@{'/commenti/' + ${commento.id} + '/modifica'}">Modifica</a>
   
  </div>
</div>

  </div>
            <small th:text="${commento.user.nome}">Autore</small>
        </div> 
 

        <a class="navbar-link" th:href="@{/prodotto/{id}/commenti(id=${prodotto.id})}">
   visualizza tutti i commenti
</a>
 </div>
    </div>

   
  </div>

 






    
  
</body>

</html>