<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Elimina Prodotti Simili</title>
    <link rel="stylesheet" href="/css/stile.css">
</head>
<body class="product-page">

<header class="navbar">
  <div class="navbar-content">
    <div class="logo">
        <a href="/"><img src="/images/logo.png" alt="Logo"></a>
    </div>
  </div>
</header>

<div class="page-wrapper">
    <h2 th:text="'Prodotti simili da eliminare per: ' + ${corrente.nome}"></h2>

    <div class="grid-container">
        <div class="card-wrapper">
           <a th:each="p : ${prodottiSimili}"
   th:href="@{'/admin/prodotti/' + ${corrente.id} + '/simili/remove/' + ${p.id}}"
   class="product-card-link">
    <div class="product-card">
        <div class="product-image-box">
            <img th:if="${p.foto != null}" class="product-image"
                 th:src="@{'/images/prodotti-foto/' + ${p.id} + '/' + ${p.foto}}"
                 alt="Foto prodotto" />
            <div th:unless="${p.foto != null}" class="product-image flex center">
                Nessuna foto
            </div>
        </div>
        <div class="product-info">
            <h3 th:text="${p.nome}"></h3>
            <p th:text="'Prezzo: € ' + ${p.prezzo}"></p>
        </div>
    </div>
</a>

        </div>
    </div>
</div>

</body>
</html>
